## Notebook to get parameter info from LOOKUP TABLES for MAP (Landuse and Irrigation)
### Script combines all parameters together and makes a .csv file with upper and lower bounds to use with pyemu

In [1]:
# Most recent run:
# 1/29/2020
# 8/10/2020
# 9/3/2020 (LU), 9/9/2020 (IRR)

In [2]:
import os
import numpy as np
import time
import pandas as pd
import shutil

### Set path and version for input Excel sheet:

In [3]:
# Location of lookup table spreadsheets:

pardir = r'E:\UMID_Data\0188_offline\modeldev\PARS\TABLES'

#landuse_version = 'YETI_Landuse_lookup_table_V4'
#irrigation_version = 'YETI_Irrigation_lookup_table_V2'
landuse_version = 'YETI_LU_lookup_table_MOREPARS'
irrigation_version = 'YETI_IRR_lookup_table_MOREPARS'

lufile = landuse_version + '.xlsx'
irrfile = irrigation_version + '.xlsx'

In [4]:
### Goal is to a) read excel file and find parameters, b) make a dataframe with PARUBND, PARLBND, etc., 
### c) get data from a second excel file (irrigation), and do the same.

### Starting with LU Table: Uses the BLUE colored tabs for Parnme and ParVal1

In [46]:
# Find starting values for each of these - read in two long lists and delete "--"
infile = os.path.join(pardir,lufile)

pnme = pd.read_excel(infile, 'Parnme', skiprows=3, na_values='--')
pval = pd.read_excel(infile, 'ParVal1', skiprows=3, na_values='--')
del pnme['Unnamed: 0']
del pval['Unnamed: 0']
#print (pval.info())
#print (pnme.info())

In [47]:
# Get the ParName list
test = pnme[~pnme.applymap(np.isreal).all(1)]
# This reduces the columns to ones that have text values:
test2 = test.select_dtypes(include='object')
print (test2.info())
test5 = pd.melt(test2, id_vars='description', value_name='ParName').dropna()
test6 = test5.apply(lambda x: x.str.strip('~'))
test7 = test6.apply(lambda x: x.str.strip()).reset_index()

# Create index location for the values:
test7['Index_Loc'] = test7['description'] + ":" + test7['variable']
test8 = test7.sort_values('Index_Loc')
print (test8.tail())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127 entries, 0 to 126
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   description      127 non-null    object
 1   cn_1             32 non-null     object
 2   cn_2             32 non-null     object
 3   cn_3             32 non-null     object
 4   cn_4             32 non-null     object
 5   cn_5             32 non-null     object
 6   cn_6             32 non-null     object
 7   cn_7             32 non-null     object
 8   max_net_infil_1  32 non-null     object
 9   max_net_infil_2  32 non-null     object
 10  max_net_infil_3  32 non-null     object
 11  max_net_infil_4  32 non-null     object
 12  max_net_infil_5  32 non-null     object
 13  max_net_infil_6  32 non-null     object
 14  max_net_infil_7  32 non-null     object
 15  rz_1             32 non-null     object
 16  rz_2             32 non-null     object
 17  rz_3             32 non-null     object
 18  rz_4             32 non-null     object
 19  rz_5             32 non-null     object
 20  rz_6             32 non-null     object
 21  rz_7             32 non-null     object
dtypes: object(22)
memory usage: 22.8+ KB
None
     index     description variable     ParName            Index_Loc
539   2111  Woody Wetlands     rz_3   wetf_c_rz  Woody Wetlands:rz_3
571   2238  Woody Wetlands     rz_4   wetf_d_rz  Woody Wetlands:rz_4
603   2365  Woody Wetlands     rz_5  wetf_ad_rz  Woody Wetlands:rz_5
635   2492  Woody Wetlands     rz_6  wetf_bd_rz  Woody Wetlands:rz_6
667   2619  Woody Wetlands     rz_7  wetf_cd_rz  Woody Wetlands:rz_7

In [48]:
# Get the ParVal list
t3 = pval[~pval.applymap(np.isreal).all(1)]
t4 = t3.select_dtypes(include=['float64','object'])
#print (test2.info())
t5 = pd.melt(t4, id_vars='description', value_name='ParVal').dropna()
t5 = t5.applymap(lambda x: str(x).strip() if len(str(x).strip()) else None)  # Important - stripped off leading spaces

# Create index location for the values:
t5['Index_Loc'] = t5['description'] + ":" + t5['variable']
t6 = t5[['Index_Loc','ParVal']].sort_values('Index_Loc')
t6.ParVal = t6.ParVal.astype(np.float64)
print (t6.head())

       Index_Loc   ParVal
69   Barren:cn_1  81.4000
196  Barren:cn_2  88.4308
323  Barren:cn_3  92.3554
450  Barren:cn_4  93.8992
577  Barren:cn_5  81.4000

In [49]:
# Join these together, remove the many duplicated items:
parvals = pd.merge(test8, t6, how='inner', on='Index_Loc', 
                   right_index=False, left_index=False, copy=False).drop_duplicates(['ParName','ParVal'])
print (parvals.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 277 entries, 0 to 671
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        277 non-null    int64
 1   description  277 non-null    object
 2   variable     277 non-null    object
 3   ParName      277 non-null    object
 4   Index_Loc    277 non-null    object
 5   ParVal       277 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 15.1+ KB
None

In [50]:
# Look for duplicated ParName with different ParVals - fix in spreadsheet:

# ADD CODE HERE to find items, fix in spreadsheet until they are gone.

In [51]:
mask = parvals.ParName.duplicated(keep=False)
dupes = (parvals[mask]).sort_values(['ParName'])
mask2 = dupes.duplicated(['ParName','ParVal'], keep=False)
# Want this to be empty:
realdupes = (dupes[~mask2])
realdupes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        0 non-null      int64
 1   description  0 non-null      object
 2   variable     0 non-null      object
 3   ParName      0 non-null      object
 4   Index_Loc    0 non-null      object
 5   ParVal       0 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 0.0+ bytes

In [52]:
realdupes.to_csv('landuse_pars_to_clean_up.csv')

### REPEAT for the Irrigation table:

In [39]:
# Find starting values for each of these - read in two long lists and delete "--"
infile = os.path.join(pardir,irrfile)

pnme2 = pd.read_excel(infile, 'Parnme', skiprows=2, na_values='--')
pval2 = pd.read_excel(infile, 'ParVal1', skiprows=2, na_values='--')
del pnme2['Unnamed: 0']
del pval2['Unnamed: 0']
#print (pval.info())

In [40]:
# Get the ParName list
irr1 = pnme2[~pnme2.applymap(np.isreal).all(1)]
irr2 = irr1.select_dtypes(include='object')
#print (test2)
irr3 = pd.melt(irr2, id_vars='description', value_name='ParName').dropna()
irr4 = irr3.apply(lambda x: x.str.strip('~'))
irr5 = irr4.apply(lambda x: x.str.strip()).reset_index()

# Create index location for the values:
irr5['Index_Loc'] = irr5['description'] + ":" + irr5['variable']
print (irr5.tail())

     index          description variable       ParName  \
449   1977         Mixed Forest    tew_7  decid_cd_tew
450   1979            Shrubland    tew_7  shrub_cd_tew
451   1981    Grassland/Pasture    tew_7  crop3_cd_tew
452   1984       Woody Wetlands    tew_7   wetf_cd_tew
453   1985  Herbaceous Wetlands    tew_7  wetem_cd_tew

                     Index_Loc
449         Mixed Forest:tew_7
450            Shrubland:tew_7
451    Grassland/Pasture:tew_7
452       Woody Wetlands:tew_7
453  Herbaceous Wetlands:tew_7

In [41]:
# Get the ParVal list
t10 = pval2[~pval2.applymap(np.isreal).all(1)]
t11 = t10.select_dtypes(include=['float64','object'])
#print (test2)
t12 = pd.melt(t11, id_vars='description', value_name='ParVal').dropna()
t12 = t12.applymap(lambda x: str(x).strip() if len(str(x).strip()) else None)  # Important - stripped off leading spaces

# Create index location for the values:
t12['Index_Loc'] = t12['description'] + ":" + t12['variable']
t13 = t12[['Index_Loc','ParVal']].copy()
t13.ParVal = t13.ParVal.astype(np.float64)
print (t13.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 454 entries, 0 to 4144
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Index_Loc  454 non-null    object
 1   ParVal     454 non-null    float64
dtypes: float64(1), object(1)
memory usage: 10.6+ KB
None

In [42]:
# Join these together:
parvals_irr = pd.merge(irr5, t13, how='outer', on='Index_Loc').drop_duplicates(['ParName','ParVal'])
print (parvals_irr.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 0 to 453
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        217 non-null    int64
 1   description  217 non-null    object
 2   variable     217 non-null    object
 3   ParName      217 non-null    object
 4   Index_Loc    217 non-null    object
 5   ParVal       217 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 11.9+ KB
None

In [43]:
# Look for duplicated ParName with different ParVals - fix in spreadsheet:

# ADD CODE HERE to find items, fix in spreadsheet until they are gone.

In [44]:
mask = parvals_irr.ParName.duplicated(keep=False)
dupes = (parvals_irr[mask]).sort_values(['ParName'])
mask2 = dupes.duplicated(['ParName','ParVal'], keep=False)
# Want this to be empty:
realdupes = (dupes[~mask2])
realdupes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        0 non-null      int64
 1   description  0 non-null      object
 2   variable     0 non-null      object
 3   ParName      0 non-null      object
 4   Index_Loc    0 non-null      object
 5   ParVal       0 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 0.0+ bytes

In [45]:
realdupes.to_csv('irrigation_pars_to_clean_up.csv')

## Join LU and IRR pars together:

In [53]:
pars_all = parvals.append(parvals_irr, ignore_index=False).reset_index()
print (pars_all.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      494 non-null    int64
 1   index        494 non-null    int64
 2   description  494 non-null    object
 3   variable     494 non-null    object
 4   ParName      494 non-null    object
 5   Index_Loc    494 non-null    object
 6   ParVal       494 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 27.1+ KB
None

In [54]:
# Find any duplicates:
#mask = df.B.duplicated(keep=False)
mask = pars_all.ParName.duplicated(keep=False)
print (pars_all[mask])

Empty DataFrame
Columns: [level_0, index, description, variable, ParName, Index_Loc, ParVal]
Index: []

In [55]:
# If needed, remove duplicates
pars_all = pars_all.drop_duplicates(['ParName']).copy()
pars_all['ParName'] = pars_all['ParName'].str.lower()
pars_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 493
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      494 non-null    int64
 1   index        494 non-null    int64
 2   description  494 non-null    object
 3   variable     494 non-null    object
 4   ParName      494 non-null    object
 5   Index_Loc    494 non-null    object
 6   ParVal       494 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 30.9+ KB

In [56]:
print (pars_all.tail(10))

     level_0  index                 description variable       ParName  \
484      436   1932       Other Hay/Non Alfalfa    tew_7  crop3_cd_tew
485      438   1939                   Sugarcane    tew_7  sugcn_cd_tew
486      442   1970        Developed/Open Space    tew_7  dvlow_cd_tew
487      444   1972  Developed/Medium Intensity    tew_7  dvmhi_cd_tew
488      446   1974                      Barren    tew_7   bare_cd_tew
489      447   1975            Deciduous Forest    tew_7  decid_cd_tew
490      448   1976            Evergreen Forest    tew_7   evgr_cd_tew
491      450   1979                   Shrubland    tew_7  shrub_cd_tew
492      452   1984              Woody Wetlands    tew_7   wetf_cd_tew
493      453   1985         Herbaceous Wetlands    tew_7  wetem_cd_tew

                            Index_Loc  ParVal
484       Other Hay/Non Alfalfa:tew_7   1.063
485                   Sugarcane:tew_7   1.063
486        Developed/Open Space:tew_7   0.410
487  Developed/Medium Intensity:tew_7   0.410
488                      Barren:tew_7   1.063
489            Deciduous Forest:tew_7   0.410
490            Evergreen Forest:tew_7   0.410
491                   Shrubland:tew_7   0.410
492              Woody Wetlands:tew_7   0.620
493         Herbaceous Wetlands:tew_7   1.063

In [57]:
print (pars_all.ParName.unique())

['bare_a_cn' 'bare_b_cn' 'bare_c_cn' 'bare_d_cn' 'bare_a_mni' 'bare_b_mni'
 'bare_c_mni' 'bare_d_mni' 'bare_ad_mni' 'bare_bd_mni' 'bare_cd_mni'
 'bare_a_rz' 'bare_b_rz' 'bare_c_rz' 'bare_d_rz' 'bare_ad_rz' 'bare_bd_rz'
 'bare_cd_rz' 'crop1_a_cn' 'crop1_b_cn' 'crop1_c_cn' 'crop1_d_cn'
 'crop1_a_mni' 'crop1_b_mni' 'crop1_c_mni' 'crop1_d_mni' 'crop1_ad_mni'
 'crop1_bd_mni' 'crop1_cd_mni' 'crop1_a_rz' 'crop1_b_rz' 'crop1_c_rz'
 'crop1_d_rz' 'crop1_ad_rz' 'crop1_bd_rz' 'crop1_cd_rz' 'cot_a_cn'
 'cot_b_cn' 'cot_c_cn' 'cot_d_cn' 'cot_a_mni' 'cot_b_mni' 'cot_c_mni'
 'cot_d_mni' 'cot_ad_mni' 'cot_bd_mni' 'cot_cd_mni' 'cot_a_rz' 'cot_b_rz'
 'cot_c_rz' 'cot_d_rz' 'cot_ad_rz' 'cot_bd_rz' 'cot_cd_rz' 'crop2_a_cn'
 'crop2_b_cn' 'crop2_c_cn' 'crop2_d_cn' 'crop2_a_mni' 'crop2_b_mni'
 'crop2_c_mni' 'crop2_d_mni' 'crop2_ad_mni' 'crop2_bd_mni' 'crop2_cd_mni'
 'crop2_a_rz' 'crop2_b_rz' 'crop2_c_rz' 'crop2_d_rz' 'crop2_ad_rz'
 'crop2_bd_rz' 'crop2_cd_rz' 'decid_a_cn' 'decid_b_cn' 'decid_c_cn'
 'decid_d_cn' 'decid_a_mni' 'decid_b_mni' 'decid_c_mni' 'decid_d_mni'
 'decid_ad_mni' 'decid_bd_mni' 'decid_cd_mni' 'decid_a_rz' 'decid_b_rz'
 'decid_c_rz' 'decid_d_rz' 'decid_ad_rz' 'decid_bd_rz' 'decid_cd_rz'
 'dvmhi_a_cn' 'dvmhi_b_cn' 'dvmhi_c_cn' 'dvmhi_d_cn' 'dvmhi_a_mni'
 'dvmhi_b_mni' 'dvmhi_c_mni' 'dvmhi_d_mni' 'dvmhi_ad_mni' 'dvmhi_bd_mni'
 'dvmhi_cd_mni' 'dvmhi_a_rz' 'dvmhi_b_rz' 'dvmhi_c_rz' 'dvmhi_d_rz'
 'dvmhi_ad_rz' 'dvmhi_bd_rz' 'dvmhi_cd_rz' 'dvlow_a_cn' 'dvlow_b_cn'
 'dvlow_c_cn' 'dvlow_d_cn' 'dvlow_a_mni' 'dvlow_b_mni' 'dvlow_c_mni'
 'dvlow_d_mni' 'dvlow_ad_mni' 'dvlow_bd_mni' 'dvlow_cd_mni' 'dvlow_a_rz'
 'dvlow_b_rz' 'dvlow_c_rz' 'dvlow_d_rz' 'dvlow_ad_rz' 'dvlow_bd_rz'
 'dvlow_cd_rz' 'evrgr_a_cn' 'evrgr_b_cn' 'evrgr_c_cn' 'evrgr_d_cn'
 'evrgr_a_mni' 'evrgr_b_mni' 'evrgr_c_mni' 'evrgr_d_mni' 'evrgr_ad_mni'
 'evrgr_bd_mni' 'evrgr_cd_mni' 'evrgr_a_rz' 'evrgr_b_rz' 'evrgr_c_rz'
 'evrgr_d_rz' 'evrgr_ad_rz' 'evrgr_bd_rz' 'evrgr_cd_rz' 'crop3_a_cn'
 'crop3_b_cn' 'crop3_c_cn' 'crop3_d_cn' 'crop3_a_mni' 'crop3_b_mni'
 'crop3_c_mni' 'crop3_d_mni' 'crop3_ad_mni' 'crop3_bd_mni' 'crop3_cd_mni'
 'crop3_a_rz' 'crop3_b_rz' 'crop3_c_rz' 'crop3_d_rz' 'crop3_ad_rz'
 'crop3_bd_rz' 'crop3_cd_rz' 'grass_a_rz' 'grass_b_rz' 'grass_c_rz'
 'grass_d_rz' 'grass_ad_rz' 'grass_bd_rz' 'grass_cd_rz' 'wetem_a_cn'
 'wetem_b_cn' 'wetem_c_cn' 'wetem_d_cn' 'wetem_a_mni' 'wetem_b_mni'
 'wetem_c_mni' 'wetem_d_mni' 'wetem_ad_mni' 'wetem_bd_mni' 'wetem_cd_mni'
 'wetem_a_rz' 'wetem_b_rz' 'wetem_c_rz' 'wetem_d_rz' 'wetem_ad_rz'
 'wetem_bd_rz' 'wetem_cd_rz' 'mixf_a_cn' 'mixf_b_cn' 'mixf_c_cn'
 'mixf_d_cn' 'mixf_a_mni' 'mixf_b_mni' 'mixf_c_mni' 'mixf_d_mni'
 'mixf_ad_mni' 'mixf_bd_mni' 'mixf_cd_mni' 'mixf_a_rz' 'mixf_b_rz'
 'mixf_c_rz' 'mixf_d_rz' 'mixf_ad_rz' 'mixf_bd_rz' 'mixf_cd_rz'
 'rice_a_cn' 'rice_b_cn' 'rice_c_cn' 'rice_d_cn' 'rice_a_mni' 'rice_b_mni'
 'rice_c_mni' 'rice_d_mni' 'rice_ad_mni' 'rice_bd_mni' 'rice_cd_mni'
 'rice_a_rz' 'rice_b_rz' 'rice_c_rz' 'rice_d_rz' 'rice_ad_rz' 'rice_bd_rz'
 'rice_cd_rz' 'shrub_a_cn' 'shrub_b_cn' 'shrub_c_cn' 'shrub_d_cn'
 'shrub_a_mni' 'shrub_b_mni' 'shrub_c_mni' 'shrub_d_mni' 'shrub_ad_mni'
 'shrub_bd_mni' 'shrub_cd_mni' 'shrub_a_rz' 'shrub_b_rz' 'shrub_c_rz'
 'shrub_d_rz' 'shrub_ad_rz' 'shrub_bd_rz' 'shrub_cd_rz' 'sugcn_a_cn'
 'sugcn_b_cn' 'sugcn_c_cn' 'sugcn_d_cn' 'sugcn_a_mni' 'sugcn_b_mni'
 'sugcn_c_mni' 'sugcn_d_mni' 'sugcn_ad_mni' 'sugcn_bd_mni' 'sugcn_cd_mni'
 'sugcn_a_rz' 'sugcn_b_rz' 'sugcn_c_rz' 'sugcn_d_rz' 'sugcn_ad_rz'
 'sugcn_bd_rz' 'sugcn_cd_rz' 'wetf_a_cn' 'wetf_b_cn' 'wetf_c_cn'
 'wetf_d_cn' 'wetf_a_mni' 'wetf_b_mni' 'wetf_c_mni' 'wetf_d_mni'
 'wetf_ad_mni' 'wetf_bd_mni' 'wetf_cd_mni' 'wetf_a_rz' 'wetf_b_rz'
 'wetf_c_rz' 'wetf_d_rz' 'wetf_ad_rz' 'wetf_bd_rz' 'wetf_cd_rz'
 'cor_height' 'ric_height' 'soy_height' 'wetem_height' 'decid_height'
 'evrg_height' 'past_height' 'wetf_height' 'cor_kcb-mid' 'cot_kcb-mid'
 'rice_kcb-mid' 'sorg_kcb-mid' 'soy_kcb-mid' 'wht_kcb-mid' 'past_kcb-mid'
 'cane_kcb-mid' 'sod_kcb-mid' 'wtem_kcb-mid' 'dvos_kcb-mid' 'dvlw_kcb-mid'
 'dvmd_kcb-mid' 'dvhi_kcb-mid' 'barr_kcb-mid' 'dcd_kcb-mid' 'evrg_kcb-mid'
 'shrb_kcb-mid' 'wetf_kcb-mid' 'crop1_a_rew' 'cot_a_rew' 'rice_a_rew'
 'crop2_a_rew' 'crop3_a_rew' 'dvlow_a_rew' 'dvmhi_a_rew' 'bare_a_rew'
 'decid_a_rew' 'evgr_a_rew' 'shrub_a_rew' 'wetf_a_rew' 'wetem_a_rew'
 'crop1_b_rew' 'cot_b_rew' 'rice_b_rew' 'crop2_b_rew' 'crop3_b_rew'
 'sugcn_b_rew' 'dvlow_b_rew' 'dvmhi_b_rew' 'bare_b_rew' 'decid_b_rew'
 'evgr_b_rew' 'shrub_b_rew' 'wetf_b_rew' 'wetem_b_rew' 'crop1_c_rew'
 'cot_c_rew' 'rice_c_rew' 'crop2_c_rew' 'crop3_c_rew' 'sugcn_c_rew'
 'dvlow_c_rew' 'dvmhi_c_rew' 'bare_c_rew' 'decid_c_rew' 'evgr_c_rew'
 'shrub_c_rew' 'wetf_c_rew' 'wetem_c_rew' 'crop1_d_rew' 'cot_d_rew'
 'rice_d_rew' 'crop2_d_rew' 'crop3_d_rew' 'sugcn_d_rew' 'dvlow_d_rew'
 'dvmhi_d_rew' 'bare_d_rew' 'decid_d_rew' 'evgr_d_rew' 'shrub_d_rew'
 'wetf_d_rew' 'wetem_d_rew' 'crop1_ad_rew' 'cot_ad_rew' 'rice_ad_rew'
 'crop2_ad_rew' 'crop3_ad_rew' 'dvlow_ad_rew' 'dvmhi_ad_rew' 'bare_ad_rew'
 'decid_ab_rew' 'evgr_ad_rew' 'shrub_ad_rew' 'wetf_ad_rew' 'wetem_ad_rew'
 'crop1_bd_rew' 'cot_bd_rew' 'rice_bd_rew' 'crop2_bd_rew' 'crop3_bd_rew'
 'dvlow_bd_rew' 'dvmhi_bd_rew' 'bare_bd_rew' 'decid_bd_rew' 'evgr_bd_rew'
 'shrub_bd_rew' 'wetf_bd_rew' 'wetem_bd_rew' 'crop1_cd_rew' 'cot_cd_rew'
 'rice_cd_rew' 'crop2_cd_rew' 'crop3_cd_rew' 'sugcn_cd_rew' 'dvlow_cd_rew'
 'dvmhi_cd_rew' 'bare_cd_rew' 'decid_cd_rew' 'evgr_cd_rew' 'shrub_cd_rew'
 'wetf_cd_rew' 'wetem_cd_rew' 'crop1_a_tew' 'cot_a_tew' 'rice_a_tew'
 'crop2_a_tew' 'crop3_a_tew' 'dvlow_a_tew' 'dvmhi_a_tew' 'bare_a_tew'
 'decid_a_tew' 'evgr_a_tew' 'shrub_a_tew' 'wetf_a_tew' 'wetem_a_tew'
 'crop1_b_tew' 'cot_b_tew' 'rice_b_tew' 'crop2_b_tew' 'crop3_b_tew'
 'sugcn_b_tew' 'dvlow_b_tew' 'dvmhi_b_tew' 'bare_b_tew' 'decid_b_tew'
 'evgr_b_tew' 'shrub_b_tew' 'wetf_b_tew' 'wetem_b_tew' 'crop1_c_tew'
 'cot_c_tew' 'rice_c_tew' 'crop2_c_tew' 'crop3_c_tew' 'sugcn_c_tew'
 'dvlow_c_tew' 'dvmhi_c_tew' 'bare_c_tew' 'decid_c_tew' 'evgr_c_tew'
 'shrub_c_tew' 'wetf_c_tew' 'wetem_c_tew' 'crop1_d_tew' 'cot_d_tew'
 'rice_d_tew' 'crop2_d_tew' 'crop3_d_tew' 'sugcn_d_tew' 'dvlow_d_tew'
 'dvmhi_d_tew' 'bare_d_tew' 'decid_d_tew' 'evgr_d_tew' 'shrub_d_tew'
 'wetf_d_tew' 'wetem_d_tew' 'crop1_ad_tew' 'cot_ad_tew' 'rice_ad_tew'
 'crop2_ad_tew' 'crop3_ad_tew' 'dvlow_ad_tew' 'dvmhi_ad_tew' 'bare_ad_tew'
 'decid_ab_tew' 'evgr_ad_tew' 'shrub_ad_tew' 'wetf_ad_tew' 'wetem_ad_tew'
 'crop1_bd_tew' 'cot_bd_tew' 'rice_bd_tew' 'crop2_bd_tew' 'crop3_bd_tew'
 'dvlow_bd_tew' 'dvmhi_bd_tew' 'bare_bd_tew' 'decid_bd_tew' 'evgr_bd_tew'
 'shrub_bd_tew' 'wetf_bd_tew' 'wetem_bd_tew' 'crop1_cd_tew' 'cot_cd_tew'
 'rice_cd_tew' 'crop2_cd_tew' 'crop3_cd_tew' 'sugcn_cd_tew' 'dvlow_cd_tew'
 'dvmhi_cd_tew' 'bare_cd_tew' 'decid_cd_tew' 'evgr_cd_tew' 'shrub_cd_tew'
 'wetf_cd_tew' 'wetem_cd_tew']

### Need to set parameter upper and lower bounds, par groups

### Par Groups:

In [58]:
# First, the PAR GROUPS:
pars_all['ParGroup'] = pars_all['ParName'].str.split("_").str[-1]
print (pars_all.tail())

     level_0  index          description variable       ParName  \
489      447   1975     Deciduous Forest    tew_7  decid_cd_tew
490      448   1976     Evergreen Forest    tew_7   evgr_cd_tew
491      450   1979            Shrubland    tew_7  shrub_cd_tew
492      452   1984       Woody Wetlands    tew_7   wetf_cd_tew
493      453   1985  Herbaceous Wetlands    tew_7  wetem_cd_tew

                     Index_Loc  ParVal ParGroup
489     Deciduous Forest:tew_7   0.410      tew
490     Evergreen Forest:tew_7   0.410      tew
491            Shrubland:tew_7   0.410      tew
492       Woody Wetlands:tew_7   0.620      tew
493  Herbaceous Wetlands:tew_7   1.063      tew

In [59]:
print (pars_all['ParGroup'].unique())
print (pars_all.info())

['cn' 'mni' 'rz' 'height' 'kcb-mid' 'rew' 'tew']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 493
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      494 non-null    int64
 1   index        494 non-null    int64
 2   description  494 non-null    object
 3   variable     494 non-null    object
 4   ParName      494 non-null    object
 5   Index_Loc    494 non-null    object
 6   ParVal       494 non-null    float64
 7   ParGroup     494 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 34.7+ KB
None

### Upper and Lower Bounds:

In [60]:
# Set Upper and Lower bounds for Curve Numbers:
# Arbitrary range of 30 - 99 in total. 
pars_all['ParUBND'] = -99
pars_all['ParLBND'] = -999
maxCN = 99.0
minCN = 30.0
# Upper BND =  (ParVal + (MaxCN - ParVal)/2)
pars_all['tmp'] = maxCN - pars_all['ParVal']
pars_all['tmp'] = pars_all['tmp'] / 2
pars_all['tmp'] = pars_all.ParVal + pars_all.tmp
pars_all.loc[pars_all.ParGroup == 'cn', 'ParUBND'] = pars_all['tmp']
# Lower BND =  (ParVal - (ParVal - MinCN)/2)
pars_all['tmp'] = pars_all['ParVal'] - minCN
pars_all['tmp'] = pars_all['tmp'] / 2
pars_all['tmp'] = pars_all.ParVal - pars_all.tmp
pars_all.loc[pars_all.ParGroup == 'cn', 'ParLBND'] = pars_all['tmp']

print (pars_all.head())

   level_0  index description         variable     ParName  \
0        0     69      Barren             cn_1   bare_a_cn
1        1    196      Barren             cn_2   bare_b_cn
2        2    323      Barren             cn_3   bare_c_cn
3        3    450      Barren             cn_4   bare_d_cn
4        7    958      Barren  max_net_infil_1  bare_a_mni

                Index_Loc   ParVal ParGroup  ParUBND   ParLBND      tmp
0             Barren:cn_1  81.4000       cn  90.2000   55.7000  55.7000
1             Barren:cn_2  88.4308       cn  93.7154   59.2154  59.2154
2             Barren:cn_3  92.3554       cn  95.6777   61.1777  61.1777
3             Barren:cn_4  93.8992       cn  96.4496   61.9496  61.9496
4  Barren:max_net_infil_1   3.7500      mni -99.0000 -999.0000  16.8750

In [61]:
# Set upper and lower bounds for ROOTING ZONE DEPTHS
# Just use a multiplier, nothing fancy:
pars_all.loc[pars_all.ParGroup == 'rz', 'ParUBND'] = pars_all['ParVal'] * 1.5
pars_all.loc[pars_all.ParGroup == 'rz', 'ParLBND'] = pars_all['ParVal'] * 0.5

print (pars_all.head())

   level_0  index description         variable     ParName  \
0        0     69      Barren             cn_1   bare_a_cn
1        1    196      Barren             cn_2   bare_b_cn
2        2    323      Barren             cn_3   bare_c_cn
3        3    450      Barren             cn_4   bare_d_cn
4        7    958      Barren  max_net_infil_1  bare_a_mni

                Index_Loc   ParVal ParGroup  ParUBND   ParLBND      tmp
0             Barren:cn_1  81.4000       cn  90.2000   55.7000  55.7000
1             Barren:cn_2  88.4308       cn  93.7154   59.2154  59.2154
2             Barren:cn_3  92.3554       cn  95.6777   61.1777  61.1777
3             Barren:cn_4  93.8992       cn  96.4496   61.9496  61.9496
4  Barren:max_net_infil_1   3.7500      mni -99.0000 -999.0000  16.8750

In [62]:
# Set for PLANT HEIGHTS:
# Use same thing: simple multipliers
pars_all.loc[pars_all.ParGroup == 'height', 'ParUBND'] = pars_all['ParVal'] * 1.5
pars_all.loc[pars_all.ParGroup == 'height', 'ParLBND'] = pars_all['ParVal'] * 0.5

# Set for Kcb-Mid values:
# Use same thing: simple multipliers
pars_all.loc[pars_all.ParGroup == 'kcb-mid', 'ParUBND'] = pars_all['ParVal'] * 1.25
pars_all.loc[pars_all.ParGroup == 'kcb-mid', 'ParLBND'] = pars_all['ParVal'] * 0.75

# Set for REW and TEW settings:
pars_all.loc[pars_all.ParGroup == 'rew', 'ParUBND'] = pars_all['ParVal'] * 1.5
pars_all.loc[pars_all.ParGroup == 'rew', 'ParLBND'] = pars_all['ParVal'] * 0.1
pars_all.loc[pars_all.ParGroup == 'tew', 'ParUBND'] = pars_all['ParVal'] * 1.5
pars_all.loc[pars_all.ParGroup == 'tew', 'ParLBND'] = pars_all['ParVal'] * 0.1

print (pars_all.tail())

     level_0  index          description variable       ParName  \
489      447   1975     Deciduous Forest    tew_7  decid_cd_tew
490      448   1976     Evergreen Forest    tew_7   evgr_cd_tew
491      450   1979            Shrubland    tew_7  shrub_cd_tew
492      452   1984       Woody Wetlands    tew_7   wetf_cd_tew
493      453   1985  Herbaceous Wetlands    tew_7  wetem_cd_tew

                     Index_Loc  ParVal ParGroup  ParUBND  ParLBND      tmp
489     Deciduous Forest:tew_7   0.410      tew   0.6150   0.0410  15.2050
490     Evergreen Forest:tew_7   0.410      tew   0.6150   0.0410  15.2050
491            Shrubland:tew_7   0.410      tew   0.6150   0.0410  15.2050
492       Woody Wetlands:tew_7   0.620      tew   0.9300   0.0620  15.3100
493  Herbaceous Wetlands:tew_7   1.063      tew   1.5945   0.1063  15.5315

In [ ]:
# Max Net Infiltration: same thing, simple multipliers:
pars_all.loc[pars_all.ParGroup == 'mni', 'ParUBND'] = pars_all['ParVal'] * 2
pars_all.loc[pars_all.ParGroup == 'mni', 'ParLBND'] = pars_all['ParVal'] * 0.25

In [64]:
# Find any that haven't been set yet:

pars_all.loc[pars_all['ParUBND'] < 0]

Empty DataFrame
Columns: [level_0, index, description, variable, ParName, Index_Loc, ParVal, ParGroup, ParUBND, ParLBND, tmp]
Index: []

### Adjustable:

In [65]:
pars_all['Adjust'] = 'YES'
print (pars_all.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 493
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   level_0      494 non-null    int64
 1   index        494 non-null    int64
 2   description  494 non-null    object
 3   variable     494 non-null    object
 4   ParName      494 non-null    object
 5   Index_Loc    494 non-null    object
 6   ParVal       494 non-null    float64
 7   ParGroup     494 non-null    object
 8   ParUBND      494 non-null    float64
 9   ParLBND      494 non-null    float64
 10  tmp          494 non-null    float64
 11  Adjust       494 non-null    object
dtypes: float64(4), int64(2), object(6)
memory usage: 70.2+ KB
None

### Clean up for exporting:

In [66]:
pars_exp = pars_all[['ParName','ParGroup','ParVal','ParUBND','ParLBND','Adjust']].copy()

In [67]:
outdir = r"E:\UMID_Data\0188_offline\modeldev\PARS"
pars_exp.to_csv(os.path.join(outdir,'MAP_parlist_MOREPARS.csv'))